body {
    font-family: sans-serif;
}

.sub4Head {
    display: inline;
}

.instruction {
    font-size: smaller;
    font-family: monospace;
    margin-left: 10px;
}

.bold {
    font-weight: bold;
}

#rollOutput {
    display: inline;
}
#manualClothesSelect {
    display: none;
}
#manualHairSelect {
    display: none;
}
#manualAffecSelect {
    display: none;
}
#manualEthSelect {
    display: none;
}
#manualLangSelect {
    display: none;
}
#manualFamSelect {
    display: none;
}
#parentSomethingHappened {
    display: none;
}
#manualParentSelect {
    display: none;
}
#parentsOkayRadio {
    display: none;
}
#parentsIssuesRadio {
    display: none;
}
#parentsOkayRadio_label {
    display: none;
}
#parentsIssuesRadio_label {
    display: none;
}
#manualFamDanger {
    display: none;
}
#manualFamDanger_label {
    display: none;
}
#manualFamOkay {
    display: none;
}
#manualFamOkay_label {
    display: none;
}
#famTragedyHeader {
    display: none;
}
#familyTragedySelect {
    display: none;
}
#familyTragedyOutput {
    display: none;
}
#familyTragedyOutput_label {
    display: none;
}
#manualChildSelect {
    display: none;
}
#manualSiblingSelect {
    display: none;
}

#persTraitsSelect {
    display: none;
}

#persValSelect {
    display: none;
}

#youValSelect {
    display: none;
}

#youFeelSelect {
    display: none;
}

#posSelect {
    display: none;
}

/* #LifeTable */
#lifeTable tr:nth-child(odd) {
    background-color: #E6E6E6;
}


#lifeTable td:nth-child(1) {
    width: 35px;
}

#lifeTable {
    font-size: 12px;
    border-collapse: collapse;
    display: none;
    padding: 0px;
    margin: 0px;
}

#lifeTable tr {
    height: 40px;
}

#lifeTable td {
    border: 1px solid #ccc;
    padding: 3px;
}

#lifeTable td:nth-child(1) {
    width: 40px;
    vertical-align: middle;
    text-align: center;
}

#lifeTable td:nth-child(2) {
    width: 180px;
}

.boldTableHead {
    font-weight: bold;
    background-color: #BDBDBD !important;
    /*background-color: red;*/
    border: 1px solid #ccc;
    font-size: 12px;
}

.enemyDetailTableHeader {
    font-weight: bold;
    border: 1px solid #ccc;
    background-color: #D8D8D8 !important;
}

.enemyDetailTable {
    font-size: 12px;
    border-collapse: collapse;
    background-color: #FFF;
    /*margin: 2px;*/
}

.enemyDetailTable tr {
    height: 40px;
}

.enemyDetailTable td {
    border: 1px solid #A4A4A4 !important;
    /*width: 150px;*/
}

.enemyDetailTable td:nth-child(1) {
    width: 120px !important;
}

.enemyDetailTable td:nth-child(2) {
    width: 170px !important;
}

.enemyDetailTable td:nth-child(3) {
    width: 120px !important;
}

.enemyDetailTable td:nth-child(4) {
    width: 175px;
}

.redBack {
    background-color: #FE2E2E;
}

.red {
    color: #FE2E2E;
}

#roleSelect {
    display: none;
}

#roleSelect_label {
    display: none;
}

#careerSkills {
    font-weight: bold;
}